<% if user_signed_in? %>

<div class="hero-unit">
	<h1>You're Logged In!</h1>
</div>

<% else %>

<div class="hero-unit">
	<h1>Jayrell Ringpis</h1>
	<p>
		This is my RoR playground. For more info about me, go to my
		<%= link_to "webpage", "http://jayrellringpis.com" %>
		.
	</p>
	<p>
		<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</div>

<% end %>
